{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'members.css' %}">
    <title>Tech | Membros</title>
</head>
<body>
    <header>
        <img src="{% static 'assets/member.jpeg' %}" alt="Várias pessoas felizes" class="logo">
    </header>

    <main>
        <h1>Área para membros</h1>

        <p>Uma área de membros para pessoas registradas</p>

        <div class="logout-btn-container">
            <a class="logout-btn" href="http://127.0.0.1:8000/accounts/logout/">
                Logout
            </a>
        </div>

    </main>

</body>
</html>